

/* Altera cálculo de tamanho com b, m e p */
* {
    box-sizing: border-box;
}


.cabecalho {
    background: #DFE6ED;
    padding: 5px;
}

.cabecalho__menu {
    display: inline-block;
}

.cabecalho__menu a {
    text-decoration: none;
    color: white;
    background-color: #4B5C6B;
    padding: 7px;
    border-radius: 5px;
}

.cabecalho__titulo {
    display: inline-block;
}

body {
    margin: 0;
    background-color: #C3CFD9;
}

main {
    padding: 20px;
}


.container-formulario {
    /* width: 200px; */
}

.container-formulario > * {
    margin-top: 5px;
}

.container-formulario input {
    display: block;
    width: 100%;
    padding: 3px;
}

.container-formulario button {
    display: block;
    width: 100%;
    border-radius: 2px;
}

.container-formulario button {
    display: block;
    width: 100%;
    background-color: #4B5C6B;
    color: white;
}

.status {
    padding: 5px;
    text-align: center;
    width: 100%;
    display: none;
}

.success {
    background-color: #207868;
}

.error {
    background-color: #AC6363;
}