/* Altera cálculo de tamanho com b, m e p */
* {
  box-sizing: border-box;
}

.cabecalho {
  background: #dfe6ed;
  padding: 5px;
}

.cabecalho__menu {
  display: inline-block;
}

.cabecalho__menu a {
  text-decoration: none;
  color: white;
  background-color: #4b5c6b;
  padding: 7px;
  border-radius: 5px;
}

.cabecalho__titulo {
  display: inline-block;
}

body {
  margin: 0;
  background-color: #c3cfd9;
}

main {
  padding: 20px;
}

.container-formulario {
  /* width: 200px; */
}

.container-formulario > * {
  margin-top: 5px;
}

.container-formulario input {
  display: block;
  width: 100%;
  padding: 3px;
}

.botaoPrimario {
  border-radius: 2px;
  display: block;
  width: 100%;
  background-color: #4b5c6b;
  color: white;
}

.status {
  padding: 5px;
  text-align: center;
  width: 100%;
  display: none;
}

.success {
  background-color: #207868;
}

.error {
  background-color: #ac6363;
}

.container-livros {
  background-color: white;
  margin-top: 10px;
  padding: 20px;
}

.card {
  border: solid black 2px;
  padding: 5px;
  width: 100px;
  height: 100px;
  border-radius: 20px;
  display: inline-block;
  margin: 2px;
}

/* Tabela */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 16px;
  text-align: left;
}

th, td {
  padding: 12px;
}

th {
  background-color: #f4f4f4;
  color: #333;
}

tr:hover {
  background-color: #f1f1f1;
}

table, th, td {
  border: 1px solid #ccc;
}

td {
  font-family: Arial, sans-serif;
  color: #555;
}

th {
  font-family: 'Verdana', sans-serif;
  font-weight: bold;
}

